.logo{
  height:50px;
  width:80px;
}
#bdo{
font-family:times 'Times New Roman', Times, serif;
}
.jh{
  font-size:15px;
  background-color:gray;
}
.familia_pelho{
  float:right;
  margin-left:5px;
  height:15%;
  width:15%;

  
  
}
.familia_pelho figcaption{
  text-align:center;
  font-size:10px;
}
.familia_pelho img{
  width:100px;
  height:100px;
}
#bdo p{
  font-size:13px;
  text-indent:7px;
}
#centro{
  width:90%;
  height:65%;
  margin:auto;
  margin-left:-5px;
  background:#F2EDED;
  padding:20px;
  margin-right:15px;
}
.fig{
  text-align:center;
}
.listas li{
  font-size:13px;
}
.historia,#diferenciais{
  border-bottom:1px solid;
}
.btn_s a{
  text-decoration:none;
}
.btn_s h3{
  text-align:center;
  margin-top:8px;
  background: lightblue;
  font-size:24px;
}
.s{
  font-size:8px;
}
.menu-opcoes li,a{
  list-style:none !important;
}
#cabecalho .menu-opcoes li{
  font-size:10px;
  display:inline;
  position:relative;
  left:110px;
  bottom:50px;
  
}
 .menu-opcoes li a{
 color: #003366;
}
#cabecalho{
  position:relative;
 
}
.sacola{
  float:right;
  position:relative;
  bottom:95px;
  font-size:10px;
}
body{
background: url("../img/busca.png");
}
.lupa{
  position:absolute;
  left:35%;
  width:70%;
  height:100%;
  top:38%;
}
.menu-opcoes>h2{
  position:relative;
  right:38px;
  bottom:57px;
  font-size:14px !important;
  font-weight:normal !important;
 
  
}
.busca{
 position:absolute;
 right:250px;
 top:80px;
 width:30%;
}
.departamentos ul{
  list-style: none;
  font-size:15px;
}
#menu_departamentos h2{
  font-weight:normal;
  font-size:14px;
  
}

